@import '../../var.scss';

.mcq {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 1200px;
  margin: auto;
  width: 80vw;
  justify-content: center;
  justify-items: center;
  align-items: center;
  padding: 15px;
  position: relative;

  .editWrapper {
    position: absolute;
    right: 20px;
    top: 20px;
    border: 1px solid $primary-t;
    padding: 5px;
    box-shadow: $hover-s;
    border-radius: 50%;
    z-index: $EDIT_INDEX;

    >svg {
      fill: $primary-t;
      margin: auto;
      width: 20px;
      height: 20px;
    }
  }

  img {
    width: 20%;
    
    @media screen and (min-width: 1920px) {
      width: 35%;
    }
    @media (max-width: 600px) {
      width: 70%;
    }
  }

  h2 {
    width: 90%;
    margin: 20px;
    font-size: max(3.5vw, 28px); // https://stackoverflow.com/a/19818026/5277189
    max-height: 200px;
    overflow: auto;
    text-align: center;

    &.shrink {
      font-size: max(1.75vw, 14px);
    }
  }

  .choiceWrapper {

    display: grid;
    gap: 25px;
    place-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;

    .choice {
      background: $secondary;
      color: $secondary-t;
      border-radius: 15px;
      display: inline-block;
      padding: 15px 25px;
      height: fit-content;
      width: fit-content;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

      font-size: max(1.25vw, 14px);

      &.correct {
        font-size: max(1.35vw, 18px);
        color: green;
        box-shadow: $hover-m;
      }

      &.wrong {
        font-size: max(1.35vw, 18px);
        box-shadow: $hover-m;
        color: red;
      }
    }

    &.shrink {
      grid-template-columns: repeat(2, 1fr);

      .choice {
        width: 168px;
        font-size: max(0.5vw, 10px);

        &.correct {
          font-size: max(0.6vw, 14px);
        }

        &.wrong {
          font-size: max(0.6vw, 14px);
        }
      }
    }


  }



}