@import '../../var.scss';

.card {
  flex-shrink: 0;
  width: 185px;
  height: 245px;
  margin: 5px;
  background-color: $secondary;
  color: $secondary-t;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include hover();
  overflow: hidden;
  text-overflow: clip;
  gap: 10px;

  .imgHolder {
    background-color: white;
    width: 145px;
    height: 145px;

    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }

  h6 {
    word-wrap: break-word;
    font-size: max(1.25vw, 1.4em);
    height: 2.4em;
    text-overflow: ellipsis;
    overflow: hidden;
    align-self: center;
    width: 90%;
    text-align: center;
  }
}