@import '../../var.scss';


$header-height: max(5.5vw, 55px);
$footer-height: 55px;

.modelHolder {
  z-index: $MODEL_INDEX;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  top: 15px;
  max-height: 70vh;
  height: fit-content;
  width: 80vw;
  overflow: hidden;
  margin: auto;
  display: block;
  background-color: $secondary;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  box-shadow: $hover-l;



  label {
    font-size: max(1.5vw, 14px);
    color: $secondary-t;
  }

  input {
    font-size: max(2.0vw, 18px);
    color: $secondary-t;

    &:not(:valid) {
      color: red;
    }
  }

  .input {
    font-size: max(2.0vw, 18px);
    color: $secondary-t;
  }

  p.Mui-error {
    font-size: max(1.0vw, 12px);
  }

  .header {
    width: 100%;
    height: $header-height;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    box-shadow: $hover-s;

    h1 {
      font-size: max(2.0vw, 28px);
      color: $secondary-t;
      align-self: center;
      margin-left: 15px;
    }

    button {
      font-size: max(2.0vw, 28px);
      color: #ffffff;
      align-self: center;
      margin-left: 15px;
      background: transparent;
      text-decoration: underline;
      color: $svg-shade;
      border-radius: 15px;
      padding: 5px;
      margin: 0px;
      cursor: pointer;
    }

    svg {
      width: 20px;
      margin: 25px;

      @media (max-width: 600px) {
        margin: auto 10px;
      }

      path {
        fill: $secondary-t !important;
      }
    }

  }

  .body {
    overflow: auto;
    display: flex;
    grid-gap: 15px;
    gap: 15px;
    padding: 10px;
    flex-direction: column;
    width: 97%;
    place-self: center;
    max-height: calc(100% - max(5.5vw, 55px) + 55px);
    margin: auto;
  }

  .footer {
    height: 55px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    place-content: flex-end;
    align-items: center;

    * {
      margin: 10px;
    }

    button {
      padding: 10px 20px;
      border-radius: 20px;
      border: 1px solid $svg-shade;
      background-color: $primary;
      color: $primary-t;
      @include hover();
    }
  }
}

.MuiListItem-root {

  &.Mui-selected,
  &:hover {
    background-color: $secondary !important;
  }
}